.create-order-mian {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: pingfang-SC-Blod;
    color: #535353;
    background-color: #f4f8f9;
    min-width: 950px;
    overflow-y: auto;

    .order-info {
        width: 85%;
        background-color: #f4f8f9;
        font-weight: 600;
        padding-left: 30px;
        padding-top: 40px;
        padding-bottom: 10px;
        margin-left: 5%;

        .row.input-container {
            width: 100%;
            height: 100%;

            .col-lg-3.mb-3.input-item {
                margin-bottom: 10px;
                margin-top: 30px;
                height: 45px;

                span {
                    display: inline-block;
                    width: 76px;
                    height: 30px;
                }
            }
        }
    }

    .sales-order-tab {
        .tab-container {
            .nav-tabs {
                border: none;

                .nav-item {
                    border: none;

                    .nav-link {
                        border: none;
                    }
                }
            }
        }
    }

    .footer {
        .buttom-button-group {
            height: 70px;
            line-height: 70px;
            text-align: center;

            button {
                width: 130px;
                margin-left: 40px;
            }

            button.cancel {
                background: #ececec;
            }
        }
    }
}

.form-control {
    width: 170px;
    height: 28px;
    display: inline-block;
}

.input-item {
    padding: 0px;

    span {
        display: inline-block;
        width: 76px;
        height: 36px;
    }
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.15;
    margin: 0;
}

.order-info .input-containe li.input-item {
    height: 42px;
}
