.machine-inspection-create-list{
    width:100%;
    height:100%;
    background:#f4f8f9;
    padding:20px;

    .form-wrapper{
        width:100%;
        background:#fff;
        padding:20px;
        box-shadow: 1px 1px 3px #eaeaea;

        .form-box{
            max-width:800px;
            min-width:600px;

            .form-row{
                width:100%;
                padding:10px 0;

                .rows{
                    width:50%;
                    float:left;
                    position: relative;

                    label.form-label{
                        margin-bottom:0;
                        height: 28px;
                        line-height: 28px;
                        width:120px;
                        font-family: pingfang-SC-Blod;
                        font-weight:600;
                        padding-left:14px;
                        position:relative;

                        span{
                            padding-right:5px;
                            color: #ff5d5d;
                            position: absolute;
                            left:3px;top:2px;
                        }
                    }

                    input.form-input{
                        width:190px;
                        height:28px;
                        padding:6px 10px;
                        border-radius: 2px;
                    }

                    input.numberBox::-webkit-inner-spin-button{
                        -webkit-appearance:none;
                    }

                    label,input.form-input{
                        color:#535353;
                        font-size:12px;
                        float:left;
                    }

                }

                .rows>span{
                    color: #ff0000;
                    font-size:12px;
                    font-family: pingfang-SC-Blod;
                    position: absolute;
                    opacity: 0;
                    transition: 0.1s;
                    left:120px;
                    top:30px;
                }

                .rows>span.tips-show{
                    opacity: 1;
                }


            }


        }
    }
    .button-box{
        padding-top:20px;

        button{
            cursor:pointer;
            height:36px;
            width:120px;
            line-height: 100%;
            font-size:15px;
            -webkit-border-radius: 3px;
            -moz-border-radius:3px;
            border-radius:3px;
        }

        .machine-close{
            margin-left:20px;
            background:#b5b5b5;
            color: #fff;
        }
    }

}

/*label{
    float:left;
    font-size:12px;
    font-weight:500;
    color:#535353;
    width:150px;
    height:100%;
    line-height: 100%;
}*/


.sales-order-tab {
    .tab-container {
        .nav-tabs {
            border: none;
            .nav-item {
                border: none;
                .nav-link {
                    border: none;
                }
            }
        }
    }
}
