.top-tool-panel {
    height: 58px;
    background-color: #f4f8f9;
    border-bottom: 1px solid #e0e0e0;
    line-height: 58px;

    .function-button button {
        padding-right: 10px;
        margin-right: 10px;
        background: #fff;
        color: #26ACF1;
        border-color: #26ACF1;

        .create {
            color: #fff;
            background: #26ACF1;
        }

        i {
            padding-right: 5px;
        }
    }

    .search-box {
        margin-left: 30px;
        display: inline-block;

        span {
            font-size: 15px;
            color: #26ACF1;
            margin-right: 4px;
        }

        input {
            height: 25px;
            width: 140px;
            border: 1px solid #cccccc;
        }

        input::-webkit-input-placeholder {
            color: #f1dcca;
            font-size: 12px;
            line-height: 25px;
            padding-left: 4px;
        }
    }
}

.hr-chart-wrap {
    overflow: auto;
}

.function-button {
    margin-left: 20px;
    display: inline-block;
}
