<div class="procedure-barcode-message-view">
  <div class="row">
    <div class="col-sm-1  title">条码类型</div>
    <div class="col-sm-10  col-lg-4 col-md-10 title-value">
     {{barcode_type_text}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1 title">条码校验规则</div>
    <div class="col-sm-10  col-lg-4 col-md-10 title-value">
      {{barcode_rule}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1 title">序列号生成规则</div>
    <div class="col-sm-10 col-lg-4 col-md-10 title-value">
       {{barcode_text}}
    </div>
  </div>
</div>