.filter {
    float: left;
    >label {
        height: 30px;
        line-height: 100%;
        vertical-align: middle;
        display: table-cell;
        padding: 6px 10px;
    }
}

.filterInput {
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 8px;
    margin: 0 10px;
    outline: none;
}

.filterButton {
    height: 30px;
    cursor: pointer;
    font-size: 14px;
    line-height: 100%;
    border: 1px solid #e0e0e0;
    background: #fff;
    color: #009cff;
    background-image: -webkit-linear-gradient(top, #fff, #efefef);
    margin-left: 16px;
    padding: 0 10px;
    border-radius: 3px;
}

.function-button button {
    margin: 0 !important;
}

.create {
    margin: 0 !important;
}

.raidoReset {
    padding-top: 3px;
}