.item {
  box-shadow: 1px 1px 4px #888888;
  margin-bottom: 10px;
  width: 100%;

  .pic {
    position: relative;
    text-align: center;
    height: 250px;
    width: 200px;
    float: left;

    a {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      color: #089FFF;
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 1rem;

      &:hover,
      :focus {
        text-decoration: none !important;
      }
    }
  }

  .recommend {
    position: relative;
    float: left;
    padding: 50px 20px;
    height: 250px;
    margin: 20px 10px;
    border-left: 1px dashed #928b8b;
    font-weight: bold;
    color: #928b8b;

    p {
      white-space: nowrap;

      span {
        color: #000;
      }
    }
  }
}
@media(min-width:870px) {
  .item {
    margin: 0 auto;

    .pic {
      margin: 0 auto;
      float: none;
    }

    .recommend {
      float: none;
      height: inherit;
      border-left: none;
      border-top: 1px dashed #928b8b;
      margin: 0 10px;
      padding: 10px;
    }
  }
}
