.login-form .dropdown {
    outline: 0;

    :hover {
        background: 0;
    }

    .form-control {
        padding-left: 0;
        padding-right: 0;
        border: 0;
        border-bottom: 1px solid #afc7de;
        border-radius: 0;
        font-size: 14px;
        color: #535353;
    }

    .dropdown-menu {
        border-radius: 0;
        margin-top: 2px;
        border-color: #d8e3ed;
        padding: 0;
        box-shadow: 0 1px 7px rgba(23, 53, 69, .15);
        background: #fff;

        .dropdown-item {
            padding: 10px 5px;
            font-size: 14px;
        }

        .ui-select-choices-row.active .dropdown-item {
            color: #535353;
            background: #cef;
        }
    }

    .dropdown-toggle {
        width: 20px;
        height: 15px;
        background: url('/assets/image/icon/login_btn_dropdown_20x20.png');
    }

    .dropdown-toggle::after {
        display: none;
    }

    .ui-select-placeholder.text-muted {
        color: #959595 !important;
    }

    .ui-select-search::after {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 15px;
        background: url('/assets/image/icon/login_btn_dropdown_20x20.png');
    }

    .ui-select-match {

        .pull-right {
            float: right;
        }

        .glyphicon {
            float: right;
        }
    }

    .pull-left {
        float: left;
    }
}