// screen
$ipad: 801px;

// colors
$red: #ca2026;
$dark-red: #A20520;
$gold: #eeaa06;
$orange: #FF8F09;
$dark-orang: #ff5000;
$blue: #007ac1;

// monochromatic
$white: #fff;
$faint: #f9f9f8;
$gallery: #efefef;
$alto: #dfdddd;
$silver: #ccc;
$dusty: #999;
$night: #353535;
$mineshaft: #585858;
$black: #000;
$violet: #7d266d;
$green: #1b890e;

// 基本颜色定义
$ros-color-blue-dark: #0075d2;
$ros-color-blue-light: #009cff;
$ros-color-sky-blue: #26acf1;
$ros-color-orange-dark: #ef8200;
$ros-color-orange-light: #f9ad35;
$ros-color-gray-dark: #535353;
$ros-color-silver: #f4f8f9;
$ros-color-green: #19b25e;
$ros-color-red: #eb525d;

$ros-main-color-dark: $ros-color-blue-dark;
$ros-main-color-light: $ros-color-blue-light;
