<div class="procedure-base-message-view">
  <div class="row">
    <div class="col-sm-1  title">工序编号 <span>*</span></div>
    <div class="col-sm-11  col-lg-4 col-md-10 title-value">
       {{no}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1 title">工序名称 <span>*</span></div>
    <div class="col-sm-11  col-lg-4 col-md-10 title-value">
      {{name}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1 title ">工序状态 <span>*</span></div>
    <div class="col-sm-11  col-lg-4 col-md-10 title-value">
      {{status_text}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1 title">工序描述</div>
    <div class="col-sm-11  col-lg-4 col-md-10  title-value">
      {{description}}
    </div>
  </div>
</div>