<div class="container-fluid login-container">

    <header>
        <div class="container">
            <div class="logo"></div>
        </div>
    </header>

    <div class="container">

        <div class="slogan">
            <h1 class="display-1">SaaS企业运营管理系统</h1>
            <h1 class="display-3">不仅是软件，更是一种管理理念</h1>
        </div>

        <div class="login-form">
            <h4 class="title">新用户修改密码</h4>
            <form action="#" #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="ui form">
                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control" type="text" name="User[name]" id="username" [value]="user?.name" placeholder="用户名" readonly ngModel>
                    </div>
                </div>
                <div class="form-group row" [class.has-warning]="!password.valid">
                    <div class="col-12">
                        <input class="form-control" [class.form-control-warning]="!password.valid" type="password" name="User[password]" id="password"
                            value="" placeholder="旧密码：" required ngModel #password="ngModel">
                    </div>
                </div>
                <div class="form-group row" [class.has-warning]="!newPassword.valid">
                    <div class="col-12">
                        <input class="form-control" [class.form-control-warning]="!newPassword.valid" type="password" name="User[new_password]" id="new-password"
                            value="" placeholder="新密码" required ngModel #newPassword="ngModel">
                    </div>
                </div>
                <div class="form-group row password-repeat-row" [class.has-warning]="!newPasswordRepeat.valid">
                    <div class="col-12">
                        <input class="form-control" [class.form-control-warning]="!newPasswordRepeat.valid" type="password" name="User[new_password_repeat]"
                            id="new-password-repeat" value="" placeholder="确认新密码" required ngModel #newPasswordRepeat="ngModel">
                    </div>
                </div>
                <div class="form-group row tips-row">
                    <div class="col-12">
                        <div class="form-control-feedback">{{'操作失败，请稍后再试'}}</div>
                    </div>
                </div>
                <div class="form-group row btn-row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.form.valid">确定</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <div class="copyright">©2017 深圳市三特科技有限公司</div>
    </footer>

    <app-canvas-background></app-canvas-background>
</div>
