<div class="ros-list-container" (contextmenu)="onContextClick($event);">  

   <!--右键  -->
      <app-context-menu
            [isShow]="contextMenuConfig.isShow" 
            [rowIndex]="contextMenuConfig.rowIndex"
            [position]="contextMenuConfig.position" 
            [rowData]="contextMenuConfig.rowData"
            [menuItems]="contextMenuConfig.menuItems"
            (onItemClick)="onContextItemClick($event)"
            >
    </app-context-menu>  

    <!--删除提示  -->
     <div  *ngFor="let alert of alertMsg">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div> 
     <div class="ros-filter-bar container-fluid clearfix">
        <app-function-button [functionCode]="functionCodeCreate" [show]="false"></app-function-button>
        <div class="search-container">
            <label for="">工厂模型类型编号</label>
            <input type="text" #searchParam placeholder="工厂模型编号" (keyup)="initLIst()" [(ngModel)]="keyWords">
            <button class="sbtn" (click)="filter()">过滤</button>
        </div>
    </div>

    <ag-grid-angular
        #agGrid

        workItemResize
        style="width:100%;"
        [style.height.px]="gridBodyHeigt"
        
        class="ag-ros"
        rowHeight="38"
        headerHeight="38"
        [gridOptions]="gridOptions"
        enableSorting
        enableFilter
        enableColResize
        animateRows
        suppressRowClickSelection
        toolPanelSuppressGroups
        rowSelection="multiple"
        singleClickEdit   

        (cellFocused)="onCellFocused($event)"
        (cellContextMenu)="onCellContextMenu($event)"
        (rowClicked)="onRowClicked($event)"
        >
    </ag-grid-angular>    
    <!--分页组件-->
    <app-ros-pagination
        [totalPages]="totalPages"
        [totalItems]="totalItems"
        (PagesRows)="getPagesRows($event)">
    </app-ros-pagination> 
</div>
