@import './01base/variables';

.ag-ros .ag-row-selected {
  background-color: #e5f5ff;
}

/* 新增工位表格样式 */
.ag-ros .ag-cell-not-inline-editing {
  padding: 0;
}

.ag-ros .ag-ltr .ag-cell-no-focus {
  padding-left: 0;
  margin-top: -1px;
}

.ag-ros {
  .ag-floating-bottom-viewport {
    background-color: #FDEDEE;

    .ag-floating-bottom-container {
      .ag-row {
        background-color: #FDEDEE;
        font-weight: bold;

        .center {
          text-align: right;
          padding-right: 1rem;
        }
      }
    }

  }
}
