<form class="fanctorymodel-type-create-container" [formGroup]="createFanctoryModel">
    <div *ngFor="let alert of alertMsg">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <div class="row">
        <div class="fanctory-title">工厂模型类型编号 <span>*</span></div>

        <div class="fanctory-input">
            <input type="text" formControlName="no" class="form-control is-valid" placeholder="请输入数字，限制字符为16位" required>
        </div>
        <span class="warm" [hidden]="createFanctoryModel.get('no').valid || createFanctoryModel.get('no').untouched">(必填项，请输入16位以内的数字字符)</span>
    </div>

    <div class="row">
        <div class="fanctory-title">工厂模型类型名称 <span>*</span></div>
        <div class="fanctory-input">
            <input type="text" formControlName="name" class="form-control is-valid" placeholder="请输入中文/英文/数字，限制字符为64位" required>
        </div>
        <span class="warm" [hidden]="createFanctoryModel.get('name').valid || createFanctoryModel.get('name').untouched">(必填项，请输入64位以内的中文、英文、数字字符)</span>
    </div>
    <div class="row">
        <div class="fanctory-title">上级工厂模型类型 <span>*</span></div>
        <div class="fanctory-input">
            <div class="input-area">
                <nz-select style="width: 253px; border-color:#e0e0e0;" nzAllowClear (click)="isHideSelected()" [nzPlaceHolder]="'请选择上级工厂模型类型'" formControlName="parent_id" [nzShowSearch]="true" nzNotFoundContent="没有找到">
                    <nz-option *ngFor="let option of parentModelOptions" [nzLabel]="option.name" [nzValue]="option.id" [nzDisabled]="option.disabled">
                    </nz-option>
                </nz-select>
            </div>
        </div>
        <span class="warm" [hidden]="createFanctoryModel.get('parent_id').value || isHide">(必填项)</span>
    </div>
    <div class="footer noPadding">
        <div class="ros-row button-box">
            <button type="submit" (click)="saveData()" class="btn btn-primary ">保存</button>
            <button type="button" (click)="unSaveData()" class="btn btn-default ">取消</button>
        </div>
    </div>
</form>