.create-defect-code-warpper {
    width: 100%;
    height: 100%;
    background-color: #f4f8f9;
    font-size: 14px;
    font-weight: 600;
    font-family: "Microsoft YaHei UI";
    color: #707070;
    .mian-form {
        padding: 50px;
        .input-item {
            margin-bottom: 20px;
            position: relative;
            .warm {
                font-size: 10px;
                line-height: 30px;
                margin-left: 20px;
                color: #ff1b55;
                font-family: monospace;
                font-weight: 300;
            }
            .name {
                display: inline-block;
                width: 110px;
                height: 30px;
                line-height: 28px;
                padding: 0px;
                position: absolute;
                left: 0px;
                top: 2px;
                i {
                    color: #ff1b55;
                    font-style: normal;
                    margin-left: -8px;
                    display: inline-block;
                    position: absolute;
                    top: 2px;
                    left: 0px;
                }
            }
            input {
                margin-left: 117px;
                width: 250px;
                height: 30px;
            }
        }
        .text-box {
            position: relative;
            .name {
                display: inline-block;
                width: 110px;
                height: 30px;
                line-height: 21px;
                padding: 0px;
                position: absolute;
                left: 0px;
                top: 2px;
                i {
                    color: #ff1b55;
                    font-style: normal;
                    margin-left: -8px;
                }
            }
            .warm {
                font-size: 10px;
                line-height: 30px;
                margin-left: 20px;
                color: #ff1b55;
                font-family: monospace;
                font-weight: 300;
            }
            textarea {
                height: 200px;
                margin-left: 117px;
                width: 510px;
            }
            margin-bottom: 20px;
        }
        .active {
            position: relative;
            .name {
                line-height: 30px;
                position: absolute;
                left: 0px;
                top: 2px;
            }
            .checkbox {
                width: 18px;
                height: 18px;
                border: 1px solid #00aaf7;
                border-radius: 4px;
                outline: none;
                padding: 0;
                margin: 0;
                position: absolute;
                left: 117px;
                top: 8px;
                background-color: #fff;
                overflow: hidden;
                span {
                    display: inline-block;
                    width: 10px;
                    height: 13px;
                    background: #00AAF7;
                    -webkit-transform: rotateZ(40deg);
                    transform: rotateZ(40deg);
                    position: relative;
                    top: -3px;
                }
                span:before {
                    content: "";
                    display: block;
                    width: 8px;
                    height: 11px;
                    background-color: #fff;
                    left: -1px;
                    top: -1px;
                    position: absolute;
                }
            }
        }
    }
    .ros-row.button-box {
        padding-top: 20px;
        padding-left: 170px;
        button {
            cursor: pointer;
            height: 36px;
            width: 120px;
            line-height: 100%;
            font-size: 15px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .machine-close {
            margin-left: 20px;
            background: #b5b5b5;
            color: #f4f8f9;
        }
    }
}
