 <div class="procedure-attribute">
   <div *ngFor="let alert of alertMsg">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
  </div>
  <div class="top-tool-panel">
    <div class="function-button">
      <button type="button" (click)="addRow($event)" class="btn btn-default btn-sm create"><i class="glyphicon glyphicon-plus"></i>新增</button>
      <button type="button" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-print"></i>编辑</button>
      <button type="button" (click)="onRemoveSelected($event)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-download-alt"></i>删除</button>
    </div>
  </div>

  <ag-grid-angular
        #agGrid

        workItemResize

        style="width: 100%; height:550px;"
        
        class="ag-ros procedure-attribute-list"
        rowHeight="38"
        headerHeight="38"
        [gridOptions]="gridOptions"
        enableSorting
        enableFilter
        enableColResize
        animateRows
        suppressRowClickSelection
        toolPanelSuppressGroups
        rowSelection="multiple"
        singleClickEdit

        (selectionChanged)="onSelectionChanged($event)"
    >
    </ag-grid-angular>

    <!--分页组件-->
     <app-ros-pagination
        [totalPages]="totalPages"
        [totalItems]="totalItems"
        (PagesRows)="getPagesRows($event)">
    </app-ros-pagination>
</div>
            